// background color
$bckgrd: #1c063e;

// text color
$text: #e6e6e6;

// main colors
$transaction_color: #d43584;
$ledger_color: #d06d2e;
$node_color: #52589f;
$distribution_color: #f70f37;
$block_color: #54b8c9;
$blockchain_color: #f57e83;
$consensus_color: #47a929;
$reward_color: #f9a50e;


