#concepts {
  position: relative;

  // desktop size media queries at 700px
  @media screen and (min-width: 700px) {
    padding: 4rem;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    padding: 8rem;
  }
}

h1 {
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
  margin-top: 1rem;

  // desktop size media queries at 700px
  @media screen and (min-width: 700px) {
    font-size: 2.9rem;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    font-size: 6rem;
  }
}

#concepts_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 6rem;

  // desktop size media queries at 700px
  @media screen and (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }
}

// block into blockchain icon
#blockIntoChain {
  width: 40%;
  display: block;
  margin: 2rem auto;

  // desktop size media queries at 700px
  @media screen and (min-width: 700px) {
    margin: 10rem auto;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    margin: 15rem auto;
  }
}

.concepts_details {
  display: flex;
}

.concepts_grid-icon {
  width: 10%;
  margin-left: 2rem;
  margin-bottom: 8rem;
}

.concepts_desc {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  line-height: 2rem;
  margin-top: 3rem;

  & > h2 {
    font-weight: 100;
    letter-spacing: 0.6rem;
    margin-bottom: 1rem;

    // desktop size media queries at 700px
    @media screen and (min-width: 700px) {
      font-size: 2.4rem;
    }

    // desktop size media queries at 1200px
    @media screen and (min-width: 1200px) {
      font-size: 4rem;
      margin-bottom: 3rem;
    }
  }
  & > p {
    color: $text;
    font-weight: 100;
    font-size: 1.1rem;

    // desktop size media queries at 700px
    @media screen and (min-width: 700px) {
      font-size: 1.2rem;
      line-height: 3rem;
    }

    // desktop size media queries at 1200px
    @media screen and (min-width: 1200px) {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}

#transaction_title {
  color: $transaction_color;
}
#ledger_title {
  color: $ledger_color;
}
#node_title {
  color: $node_color;
}
#distribution_title {
  color: $distribution_color;
}
#block_title {
  color: $block_color;
}
#blockchain_title {
  color: $blockchain_color;
}
#consensus_title {
  color: $consensus_color;
}
#reward_title {
  color: $reward_color;
}

#orange_block {
  transition: all;
  animation: moveBlock 4.8s ease-in-out infinite;
}

@keyframes moveBlock {
  0% { transform: translateX(0);}
  100% { transform: translateX(22rem);}
}
