#concepts {
  position: relative;
}

h1 {
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
  margin-top: 1rem;
}

// block into blockchain icon
#blockIntoChain {
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
}



